<div ng-controller="identCtrl">
<div class="jumbotron">
  <p class="lead">
    Bienvenue chez Caddy'Hop, où la simplicité reigne !
    <div class="row">
     <br>
	 <div class="col-md-12">
      <div class="col-md-6">
		<img class="img-responsive" src="images/logocaddyhop/logo.png" alt="Logo">
      </div>
	  <div class="col-md-6">
		<p> Caddy'Hop est une application (web et mobile) permettant de simplifier ses courses, grace au site web, vous pouvez faire votre liste
			de courses en ligne et générer un itinéraire afin de ne pas repasser plusieurs fois par le meme rayon, de plus grace a l'application mobile
			votre téléphone peut vous servir de scan libre afin d'accelerer votre passage en caisse.
		</p>
      </div>
	  </div>
	  <br>
	  <br>
		<button type="button" id="btnTuto" ng-click="send_socket()" class="btn btn-info">Tutoriel</button>
    </div>	
  </p>
</div>
</div>
