<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Caddy'Hop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="app1App">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
	<div ng-controller="identCtrl">
    <div class="header">
		<div class="jumbotron">
			<div class="row" >
			  
			  <div class="col-md-12">
				<img class="img-responsive" id="ban" src="images/bannierehead/banniere.png" alt="Shaeny & Thompouce">
			  </div>

			</div>
		</div>
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">Caddy'Hop</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Accueil</a></li>
              <li><a ng-href="#/courses">Faire mes courses</a></li>
			  <li><a ng-href="#/infos">Mes infos</a></li>
			  <li><a ng-href="#/account">S'inscrire</a></li>
            </ul>
			<ul class="nav pull-right">
			<div ng-hide="toggle">
				login :<input ng-model='login'>
				mdp : <input ng-model='pass'  type="password">
				<button type="button" id="btnLogin" class="btn btn-info" ng-click="toggleFilterConnect(login, pass)">Login</button>
			</div>
			<div ng-show="toggle">
				Bonjour {{login}}
				<button type="button" id="btnLogin" class="btn btn-danger" ng-click="toggleFilterDisconnect()">Logout</button>
			</div>
			
			
          <!--<li class="dropdown" id="menuLogin">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Se Connecter</a>
            <div class="dropdown-menu">
              <form> 
                <input name="username" id="username" placeholder="Username" type="text"> 
                <input name="password" id="password" placeholder="Password" type="password"><br>
                <button type="button" id="btnLogin" class="btn">Login</button>
              </form>
            </div>
          </li>-->
        </ul>
                    
            </form>
			
          </div>
        </div>
      </div>
    </div>
	</div>

    <div class="container">
    <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon"></span> © 2016 - 2018 Caddy'Hop Entertainment Inc.</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/courses.js"></script>
		<script src="scripts/controllers/infos.js"></script>
		<script src="scripts/controllers/account.js"></script>
		<script src="scripts/controllers/ident.js"></script>
		<script src="scripts/controllers/mylists.js"></script>
        <!-- endbuild -->
</body>
</html>